body {
    background-color: #000000;
    color: #ffffff;
    font-family: monospace;
    padding: 20px;
    font-size: 14px;
    margin: 0;
}

#container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #012;
    height: 650px;
    overflow-y: auto;
    font-size: 13px;
}

.terminal {
    white-space: pre-wrap;
    font-size: 13px;
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    align-items: center;
    position: relative;
}

.prompt {
    color: #00ff00;
    margin-right: 5px;
    font-size: 15px;
    font-family: monospace;
}

input {
    background-color: transparent;
    border: none;
    color: #ffffff;
    flex-grow: 1;
    outline: none;
    font-size: 13px;
    font-family: monospace;
    padding: 5px;
}

#suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #333;
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #444;
    border-radius: 5px;
    z-index: 100;
    display: none;
}

#suggestions li {
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

#suggestions li:hover {
    background-color: #444;
}

.output {
    color: #cccccc;
    font-family: monospace;
    font-size: 13px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.heading {
    font-size: 16px;
    font-weight: bold;
}

.subheading {
    font-size: 14px;
    font-weight: bold;
}

.text {
    font-size: 14px;
}

.link {
    color: #00ff00;
    font-weight: bold;
}

.error {
    color: #ff0000;
    font-weight: bold;
}

.command {
    font-weight: bold;
    font-size: 15px;
}

#output {
    max-height: 500px;
    overflow-y: auto;
    white-space: pre-wrap;
    font-family: monospace;
    color: #cccccc;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    font-family: monospace;
    color: #cccccc;
}

.centered-content .title {
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 10px;
}

.centered-content .subtitle {
    font-size: 18px;
    margin-bottom: 15px;
}

.centered-content p {
    font-size: 13px;
    margin-top: 15px;
}

.centered-content a {
    color: #00ff00;
    font-weight: bold;
    text-decoration: none;
}

.centered-content a:hover {
    text-decoration: underline;
}

.suggestions li.highlighted {
    background-color: #007bff;
    color: white;
}

.highlighted {
    background-color: #b3e0ff;
    color: #000;
}
